.container{
    height: 100%;
    width: 100%;
    background: #3B3B3B;
    display: flex;
    justify-content: space-around;
    padding-top: 1vw;
    gap:70vw;
    padding-bottom: 1vw;
}
.text-footer{
    display: flex;
    flex-direction: column;
    color: white;
    font-family: Poppins;
    font-size: 1vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.22px;

}

@media screen and (max-width: 468px) {
    .container{
        height: 12vw;
        gap: 35vw;
    }
    .text-footer{
        font-size: 2.5vw;
    }
}
