.header-list {
    display: flex;
    list-style: none;
    gap: 2vw;
    font-family: 'Poppins', sans-serif;
    font-size: 1.15vw;
    font-weight: 500;
    color: #222;
    cursor: pointer;
  }
  
  
  @media screen and (max-width: 468px) {
    .header-list {
        display: none;
      flex-direction: column;
      width: 100%;
    }
  }
  