.Login {
    display: flex;
    position: absolute;
    gap: 1vw;
    width: 10vw;
    padding: 0.55vw;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    border-radius: 0.5vw;
    background-color: #3913C5;
    color: #FFF;
    font-family: Poppins;
    font-size: 1.15vw;
    font-style: normal;
    font-weight: 500;
    cursor: pointer;
    top: 219vw;
    left: 45%;
}

.Get_start_span{
height: 2vw;
width:2vw;
}
@media screen and (max-width: 468px) {
    .Login {
        position: static;
        margin: auto;
        font-size: 2.15vw;
        width: 20vw;
        padding: 2vw;
        border-radius: 1vw;
    }
}